<div id="sidebar" class="sidebar">
  <div class="logo">
    <img src="/images/logo.png">
  </div>
  <div class='accordion mt-3' id='accordion'>
    <%= render 'layouts/admin/links/dashboard_link' %>
    <%= render 'layouts/admin/links/user_link' %>
  </div>
</div>